/* @media screen and (max-width: 720px) {
    body{
        background-color: #1bfa07;
        transition: 2s;
    }
}

@media screen and (min-width: 1600px) {
    body{
        background-color: #fa9907;
        transition: 2s;
    }
} */

.partners {
    background-color: #eed4d4;
    padding: 30px 0;
}

.partners__items {
    display: flex;
    justify-content: space-evenly;
}

.partners .item {
    min-width: 150px;
    min-height: 150px;
    border-radius: 50%;
    background-color: #f90606;

    background-image: url(/img/doc.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    color: black;
}

@media screen and (max-width: 1550px) {
    .partners .item {
        min-width: 100px;
        min-height: 100px;
    }
}


@media screen and (max-width: 1000px) {
    /* .partners{
        display: none;
    } */

    .partners__items {
        flex-direction: column;
        align-items: center;
    }

    .partners .item {
        margin: 20px;
        min-width: 300px;
        min-height: 300px;
        max-width: 300px;
        max-height: 300px;
    }

    nav ul {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .partners .item {
        min-width: 200px;
        min-height: 200px;
        max-width: 200px;
        max-height: 200px;
    }
}