.partners{
    padding: 20px 0;
    background-color: #eebbbb;
}

.partners__title{
    background-color: aqua;
}

.partners__items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.partners__items_logo{
    border-radius: 50%;
    background-color: #f00;
    height: 100px;
    width: 100px;
}
